@model List<Exercice06.Models.ViewModels.MovieViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Liste des films</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Date de sortie</th>
        <th>Est vu ?</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var movie in Model)
    {
        <tr>
            <td>@movie.Name</td>
            <td>@movie.ReleaseDate.ToString("dd MMMM yyyy")</td>
            <td>
                <input type="checkbox" checked="@movie.IsWatched" disabled="disabled"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@movie.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Ajouter un film</a>
